.hotels__list {
	.list__item {
		display: flex;
		font-size: $font-size-regular;
		border-bottom: 1px solid $color-lighter-grey;
		padding: 10px 0;
	}

	.list__image {
		position: relative;
		width: 150px;
		overflow: hidden;
	}

	.list__promotion {
		position: absolute;
		top: 20px;
		left: 0px;
		padding: 10px;
		font-size: $font-size-small;
		background: $color-white;
		color: $color-red;
	}

	.list__content {
		display: flex;
		flex-direction: column;
		min-width: 40%;
		margin: 0 20px;
	    width: 70%;
	}

	.list__address {
		color: $color-lighter-grey;
		font-size: $font-size-small;
		margin: 5px 0;
	}

	.list__price {
		display: flex;
		flex-direction: column;
  		justify-content: flex-end;
	}

	.list__price-amount {
		font-size: $font-size-large;
		margin: 10px 0;
	}

	.list__price--duration {
		color: $color-light-grey;
		font-size: $font-size-small;

	}

	.list__price-savings {
		color: $color-red;
	}

	.list__roomtype {
		color: $color-red;
		text-decoration: underline;
		margin-top: 10px;
	}

	.list__cancellation {
		color: green;
		margin-top: auto;
	}
}