.page__hotelsList {
	.hotels__header {
		display: flex;
	    align-items: center;
		height: 50px;
		border-bottom: 1px solid $color-lighter-grey;
		justify-content: space-between;
	}

	.hotels__count {
		margin: 0;
	}
}