@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

.hotel__ratings--fieldset { 
  border: none;
  float: left;
}

.hotel__ratings--fieldset > input { display: none; } 
.hotel__ratings--fieldset > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
}

.hotel__style--star{
  &> label:before{
    content: "\f005";
  }

  &> .half:before { 
    content: "\f089";
  }
}

.hotel__style--circle{
  &> label:before{
    content: "\f111";
  }

  &> .half:before { 
    content: "\f042";
    transform: rotate(180deg);
    margin-top: 3px;
  }

  @-moz-document url-prefix() {
    &> .half:before { 
      margin-top: 7px;
    }
  }
}

.hotel__ratings--fieldset > .half:before { 
  position: absolute;
}


.hotel__ratings--fieldset > label { 
  color: #ddd; 
  float: right; 
}


.hotel__ratings--fieldset > input:checked ~ label, /* show gold star when clicked */
.hotel__ratings--fieldset:not(:checked) > label:hover, /* hover current star */
.hotel__ratings--fieldset:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.hotel__ratings--fieldset > input:checked + label:hover, /* hover current star when changing rating */
.hotel__ratings--fieldset > input:checked ~ label:hover,
.hotel__ratings--fieldset > label:hover ~ input:checked ~ label, /* lighten current selection */
.hotel__ratings--fieldset > input:checked ~ label:hover ~ label { color: #FFED85;  } 